# Eclipse
.classpath
.project
.settings/

# STS (Spring Tool Suite) specific
.apt_generated
.sts4-cache/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore common images
*.png
*.jpg
*.jpeg
*.gif
*.bmp

# Ignore temporary files
*.temp*
*.tmp
.temp/
.temp*/

